/* @override 
	http://tangomoon.fantomas.zsite.ch/wp-content/themes/tangomoon/css/dev/10-fonts.css */

/*body
{
	font-family: 'Alegreya', Georgia, "Times New Roman", Times, serif;
}*/

body,
h1,h2,h3,h4,h5,h6,
blockquote,
.headline,
.featured-page .more-link,
.featured-page .information,
.article > p:first-of-type,
#navigation,
.title,
#masthead .site-title,
#searchform .search-field, #searchform #s,
#searchform #searchsubmit,
button,
input,
select,
textarea,
input[type="button"],
input[type="submit"],
.widget_wysija .formError .formErrorContent {
	font-family: 'Alegreya Sans','Helvetica Neue', sans-serif;
}

blockquote
{
	font-family: 'Alegreya', Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
}

table {
	font-family: inherit;
}

blockquote {
	font-style: italic;
}