/* @override 
	http://tangomoon.fantomas.zsite.ch/wp-content/themes/tangomoon/css/dev/20-custom.css
	http://www.tangomoon.ch/wp-content/themes/tangomoon/css/dev/20-custom.css */

/*.container {
	background: #070040;
}

body,h2 {
	color: #cbcbcb;
}*/

/* @group Global */

body {
	color: #434343;
	font-size: 110%;
	line-height: 1.3;
}

.content p {
	padding: 0.4em 0px;
/*	line-height: 1.5;*/
}

/* @end */


#masthead {
	display: none;
}

#logo {
	margin: 5px 1px 5px 5px;
	padding: 0px;
}


#header,
.footer,
.page-headline,
.home .introduction,
.home .category-a-la-une,
.home .site-intro,
.featured-team .information,
.featured-team .title {
	background: #0b0031;
}
/*
régler aussi la couleur de survol du menu, lignes 119 / 124
*/

.home #header {
/*	background: transparent;*/
}

.home .introduction,
.home .introduction .content {
	height: 22em;
}

.container > .hentry {
  padding-top: 70px;
}

.featured-page .information {
	padding: 0px;
}

.featured-page .information p {
	padding-top: 0;
	text-align: center;
	padding-left: 0.5em;
}

.headline {
  font-size: 2.8em;
}
.page-headline {
  font-size: 3.2em;
}

.home .introduction .headline {
	background-image: url('../../img/logo-2.png');
	width: 500px;
	max-width: 100%;
	height: 260px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	border: 0px solid #333;
	margin: 0 auto;
	
	font: 0/0 a;
	   text-shadow: none;
	   color: transparent;
}

.home .page-section .featured-page {
	width: 100%;	
}

#navigation.main-small-navigation {
	width: 100%;
}

/* @group Improve mobile navigation behaviour */
  
#header {
  position: relative;
}
#header-bar {
  background: #0b0031;
  height: 70px;
  position: fixed;
  top: 0; right: 0; bottom: auto; left: 0;
  z-index: 99;
}
#navigation.main-small-navigation {
  margin-top: 70px;
  position: relative;
  z-index: 98;
}

#logo img {
  max-height: 50px;
}

/* @group Menus */

#navigation {
	margin-top: 15px;
}

.menu li.sfHover:hover,
ul#menu-menu-principal,
.mobile-menu a:hover,
.mobile-menu .current-menu-item a,
.menu a:focus, .menu a:hover, .menu a:active,
#navigation .menu li.current-menu-ancestor a,
#navigation .menu li.current_page_ancestor a,
#navigation .menu .current_page_item ul li a:hover,
#navigation .menu .current-menu-item ul li a:hover,
#navigation .menu .current-menu-ancestor ul li a:hover,
#navigation .menu .current_page_ancestor ul li a:hover,
#navigation .menu .current-menu-ancestor ul .current_page_item a,
#navigation .menu .current_page_ancestor ul .current-menu-item a,
#navigation .menu .current-cat ul li a:hover
#wrap .menu a:focus, #wrap .menu a:hover, #wrap .menu a:active,
#navigation .menu .current_page_item a, #navigation .menu .current_page_ancestor a, #navigation .menu .current-menu-item a, #navigation .menu .current-cat a {
	background: #0b0031;
/*	background: rgba(10, 0, 49, 0.69);*/
	color: #db931f !important;
}

.menu ul.sub-menu, 
.menu ul.children {
	background: rgba(0, 22, 87, 0.69);
}

.menu li:hover ul.sub-menu,
.menu li.sfHover ul.sub-menu {
  top: 55px;
}

#navigation .menu .current_page_item a, #navigation .menu .current_page_ancestor a, #navigation .menu .current-menu-item a, #navigation .menu .current-cat a {
	font-weight: 700;
}

.menu li {
	border: 0;
}
.menu a {
  height: 55px;
}

.sf-arrows .sf-with-ul:after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  background: transparent;
  border: solid rgba(255,255,255,.9);
  border-width: 0 2px 2px 0;
  height: 8px;
  margin-top: -5px;
  width: 8px;
  transform: rotate(45deg);
}

/* @end */

/* @group Posts and Pages */

.page-headline {
	padding-top: 60px;
}

.single-post .headline {
	font-size: 200%;
}

.page-banner {
	margin-top: 30px;
}
.feature-img,
.page-banner.featured-img {
  margin-top: 0;
}

/* @end */

/* @group Liste Par Categorie */

.liste-par-cat {
/*	border: 1px solid #333;*/
  background: #f4f4f4;
	clear: left;
	padding-top: 48px;
	padding-bottom: 48px;
}

.liste-par-cat .block-header {
  height: 100%;
  position: relative;
  max-width: 1200px;
  margin: 0px auto 0px;
  padding: 0 48px;
}
.liste-par-cat .block-header .block-title {
  margin: 0 0 1em;
  padding: 0;
}

.liste-par-cat .headline,
.list-par-cat-content {
	position: relative;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 48px;
	}

.list-par-cat-content {
	margin-bottom: 2em;
}

.liste-par-cat .article {
  margin-bottom: 30px;
}
.liste-par-cat .feature-img {
  background-size: cover;
  height: 200px;
  margin-bottom: 0;
}
.liste-par-cat .feature-img img {
  position: absolute;
  left: -3333em;
}
.liste-par-cat .article-content {
  box-sizing: border-box;
  background: #fff;
  height: 200px;
  padding: 20px 30px;
}

.liste-par-cat .headline {
	font-size: 140%;
	margin-bottom: .25em;
	padding: 0;
}
.liste-par-cat .excerpt .read-more {
  display: block;
  margin-top: .25em;
}

.headline.has-thumbnail {
	/*font-size: 100%;
	background: #0f0;*/
}

.headline.no-thumbnail {
/*	margin-top: 2em;*/
	border-top: 1px solid #DDDDDD;
	border-top: 1px solid rgba(0, 0, 0, .08);
	padding-top: 1em;
	margin-top: 0;
}

.modifier {
	padding-left: 0.3em;
	font-size: 80%;
}

.modifier .post-edit-link {
	margin: 0;
}

.liste-par-cat .article > p:first-of-type {
	font-size: 1em;
	font-family: 'Lora', Georgia, "Times New Roman", Times, serif;
	font-weight: 400;
	line-height: 1.5;
}

/* @end */

.post-navigation {
	margin-top: 2em;
}

.article > p:first-of-type {
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

table td {
	border: 0px;
	padding-top: 0;
	padding-bottom: 0;
}

.container .postarea {
/*	font-size: 110%;
	line-height: 1.3;*/
}

.widget_wysija_cont .wysija-submit {
	font-size: 120%;
}

.footer-widgets .widget {
	width: 100%;
}

/* @group Featured Team */

.featured-team .title {
	text-transform: inherit;
}

.featured-team .information {
/*	min-height: 10em;*/
}

.featured-team .four.columns {
/*	background: #0b0031;*/
/*	float: l;*/
}

.featured-team a.block-link {
/*	min-height: 20em;*/
/*	background: #0b0031;*/
}

.block-link,
.block-link img  {
	display: block;
}

a.block-link:focus, 
a.block-link:hover,
a.block-link:active {
	text-decoration: none;
	border-bottom: 0px;

}
.block-link:focus h2, 
.block-link:hover h2,
.block-link:active h2 {
		font-weight: 400;
}

/* @end */

/* @group Button Style */

input[type="text"].wysija-input,
#mailpoet_form_1 .mailpoet_text {
	font-size: 120%;
	padding: 0.2em 0.4em;
	width: 100%;
}

input[type="submit"] {
	display: inline-block;
	position: relative;
	margin: 12px 0px;
	padding: 0px;
	background-color: #444444;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: none;
	/*box-shadow: 0px 3px 0px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0px 3px 0px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0px 3px 0px rgba(250, 250, 250, .5);*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.00)),to(rgba(0, 0, 0, 0.10)));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.10));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.10));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.10));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.10));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.10));
	
	color: rgba(255, 255, 255, .85);
	font-size: 1.2em;
		padding: 6px 24px;
		background-color: #ff9933;
		text-shadow: -1px -1px 0px rgba(0, 0, 0, .2);
	}
	
	input[type='submit']:hover {
/*		top: 2px;*/
		/*box-shadow: inset 0px 3px 0px rgba(0, 0, 0, .2);
		-moz-box-shadow: inset 0px 3px 0px rgba(0, 0, 0, .2);
		-webkit-box-shadow: inset 0px 3px 0px rgba(0, 0, 0, .2);*/
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.10)),to(rgba(0, 0, 0, 0.20)));
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.20));
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.20));
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.20));
		background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.20));
		background-image: linear-gradient(top, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.20));
		color: #ffffff;
		cursor: pointer;
		}

/* @end */

/* @group Wysija */

#wysija-subscriptions table th {
	background: transparent;
	border: 0px;
}
#wysija-subscriptions label[for="status--1"]{
	margin-right: 0.8em;
}
#wysija-subscriptions h3 {
	text-align: left; 
}

.widget_wysija .formError .formErrorContent {
	font-size: 0.8em;
}

#form-wysija-2 .wysija-paragraph:nth-of-type(2),
#form-wysija-2 .wysija-paragraph:nth-of-type(3) {
	display: none;
}
.no-js #form-wysija-2 .wysija-paragraph:nth-of-type(2),
.no-js #form-wysija-2 .wysija-paragraph:nth-of-type(3) {
	display: block;
}

/* @end */


.list-par-cat-content iframe {
	max-width: 100%;
	max-height: 300px;
}
