/* @override 
	http://tangomoon.fantomas.zsite.ch/wp-content/themes/tangomoon/css/dev/30-mediaqueries.css */

@media only screen and (max-width: 767px) {

	.menu-toggle {
	display: block;
	}
	
	#navigation {
		margin-top: 0px;
	}
	
	.page-banner {
		margin-top: 18px;
		min-height: 140px;
	}
	.feature-img,
  .page-banner.featured-img {
    margin-top: 0;
  }
	
	.featured-news .feature-img img {
		margin-left: 0;
	}
	
	body, p {
		font-size: inherit; 
		line-height: inherit;
	}

  .headline {
    font-size: 2.4em;
  }
  .page-headline {
    font-size: 2.8em;
  }
	
	.liste-par-cat .feature-img {
  	width: 100% !important;
	}
	.liste-par-cat .article-content {
  	height: auto;
	}
	
}

@media only screen and (min-width: 768px) {
  
	/* Header */
  
  #header {
    position: fixed;
  }
  #header-bar {
    height: auto;
    position: static;
  }
}

@media only screen and (min-width: 800px) {
	.footer-widgets .widget {
		width: 25%;
	}
}


@media only screen and (min-width: 900px) {

		.navigation-main .menu li {
			font-size: 120%;	
		}
		
		.page .content,
		.single .content,
		.liste-par-cat .headline,
		.list-par-cat-content,
		.liste-par-cat .block-header {
			max-width: 800px;
			margin-left: auto;
			margin-right: auto;
		}
			
		.page .content,
		.single .content,
		.list-par-cat-content {
			font-size: 110%;
		}
		
}

@media only screen and (min-width: 1100px) {

		.navigation-main .menu {
			font-size: 130%;	
		}
		
		.menu ul ul, ul.menu ul {
			width: 220px;
		}
		
		

}